@font-face{
    font-family: 'PTSansNarrow-Bold';
    src: url('../fonts/PTSansNarrow-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica Light';
    src: url('/i/fonts/Helvetica-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica Regular';
    src: url('/i/fonts/9202.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GothamSSm Medium';
    src: url('/i/fonts/1742-font.otf');
    font-weight: normal;
    font-style: normal;
}


.underline {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    transition: all 0.2s ease-in-out;

}

.underline:hover{
    text-decoration: none;
    color: white;
    border-bottom-color: transparent;
}
.white-line {
    padding-top: 35px;
}

.blue-line {
    background-color: #5B37E3;
    width: 100%;
    color: #FFFFFF;
    text-align: center;

}

.name {
    position:absolute;
    z-index:9999;
    margin-top: 15px !important;
    right: 30px !important;
    color: #6c6868;
    font-family: 'Helvetica Light';
    font-size:11px;
    background: white;
    border-right: 5px solid #5a35e3;
    line-height: 12px;
    width: 270px;
    height: 60px;
    text-align: right;
    padding: 3px 12px 12px 20px;
}

.name a {
    padding-top: 500px !important;
}
.star {
    width: 47px;
    height: 50px;
    background: transparent url(/i/image/logo_rusmedzdrav_malenkoe.png) center center no-repeat ;
}

.tabl {
    font-family: 'Helvetica Light';
    font-size: 12px;
    width: 260px;
    height: 56px;
    background-color: white;
    border-right: 5px solid #5a35e3;
    position: absolute;
    top: 50px;
    right: 15px;
}

.text-in-tabl{
    margin-right: 5px;
    margin-top: 10px;
    text-align: right;
    line-height: 15px;
}

.tabl-down {
    font-family: 'Helvetica Light';
    font-size: 15px;
    text-align: left;
    border-left: 3px solid #5a35e3;
    margin-top: 15px;
    padding-left: 5px;
    display: none;
}

.med { 
    width: 100%;
    height: auto;
    /*background: transparent url(/i/image/med.jpg) center center no-repeat ;*/
    margin-top: 35px;
  
}
.med img {
    width: 100%
    
}

.no-padding {
    padding: 0 !important;
}
.rusmed {

    font-size: 16px;
    font-family: 'GothamSSm Medium';
    letter-spacing: 2px !important;

}

.rusmed-mobile {
    letter-spacing: 2px !important;
    font-size: 16px;
    font-family: 'GothamSSm Medium';
}

.mobile-covid {}

.easely {
    margin-top: 50px;
    
    letter-spacing: -1px;
    font-size: 44px;
    color:#5a35e3;
    line-height:55px;
}

.bell {
    font-family:  "Helvetica Light";
    color: #D6D4D4;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 5px;   
}


.bell a {
    display: inline-block;
    position: relative;
    color: #c3c1c1;
}

.bell a:hover::after {
    width: 100%;

}

.bell a::after {
    height: 1px;
    width: 30%;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-in-out;
    background-color: #9882eb;
}

.bell a:hover {
    color: #c3c1c1;
    text-decoration: none;
}

.ooo {
    font-family:  "Helvetica Light";
    font-size:23px;
}

.bg-F7 {
    background-color: #F7F7F7;
    margin-top: 100px;
    width: 100%

}

.rectangle-down-big {
    font-weight: bold;
    font-size: 28px;
    margin-top: 30px;
    line-height: 36px;
    font-family: 'Helvetica Regular';
    max-width: 330px;
}

.rectangle-down-small {
    font-family: 'Helvetica Light';
    font-size:22px;
    margin-top: 15px;
    max-width: 330px;

}

.book-img {
    width: 523px;
    height: 469px;
    background: transparent url(/i/image/book.jpg) center center no-repeat ;
    margin-left: 50px;
    margin-top: 190px;
}

.low {
    font-weight: bold;
    margin-left: 9px;
    padding-left: 15px;
    margin-top: 10px;
    font-family:  "Helvetica Light";
    font-size: 14px;
    font-style:italic;
    border-left: 2px solid #5B37E3

}

.kniga-img {
    margin-top: 190px;
    width: 91px;
    height: 91px;
    background: transparent url(/i/image/kniga.png) center center no-repeat ;
    margin-left:80px;
}

.med-book.left {
    margin-top: 9px;

}

.art-head-h3 {
   
    margin-left: 130px;
}

.art-head-h3 h3 {
    height: 115px;
    align-items: center;
    display: flex;
    line-height: calc(58 / 50);
}

.art-head-h3 h3 span {
    font-family:  "Helvetica Light";
    font-size: 51px;
}


.med-book {
    font-family:  "Helvetica Light";
    font-size: 51px;
    line-height: calc(58 / 50);
    margin-left: 2px;
}

.med-book.right {
    margin-top: 9px;
}

.its {

    text-decoration: none;
    font-size: 43px;
    margin-left: 10px;
    margin-top: -20px;


}

.its a {
    display: inline-block;
    position: relative;
    color: #5a35e3;
}

.its a:hover::after {
    width: 100%;

}

.its a::after {
    height: 1px;
    width: 60%;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-in-out;
    background-color: #9882eb;
}

.its a:hover {
    color: #5a35e3;
    text-decoration: none;
}

.garant {
    margin-left: 10px;
    padding-top: 50px;
    margin-bottom: 60px;

    font-family:  "Helvetica Light";
    font-size:23px;
}

menu-empty {
    height: 125px;
    width: 100%;
}

.empty {
    height:130px;
    width: 100%;

}

.read {

    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    margin-top: -20px;

}

.read a {
    display: inline-block;
    position: relative;
    color: #9882eb;
}

.read a:hover::after {
    width: 100%;

}

.read a::after {
    height: 1px;
    width: 60%;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-in-out;
    background-color: #9882eb;
}

.read a:hover {
    color: #9882eb;
    text-decoration: none;
}

.list-img {
    width: 91px;
    height: 91px;
    background: transparent url(/i/image/list.png) center left no-repeat ;
    margin-top: 20px;
    margin-left: 10px;

    float: left;
}

.doctor-img {
    width: 543px;
    height: 471px;
    background: transparent url(/i/image/doctor.jpg) center center no-repeat;
    max-width: 100%;
}

.line {
    float:left
}

.both {
    clear:both
}

.star2 {
    width: 77px;
    height: 67px;
    background: transparent url(/i/image/logo_rusmedzdrav_srednee.png) center center no-repeat ;
    margin: 0 auto;
    margin-top: -35px;
}

.success {
    font-family: "Helvetica Light";
    font-size: 43px;
    color: #6837E8;
    margin-left: 100px;
    margin-top:50px;
    margin-bottom: 70px;
 
}

.prices {
    font-family: "Helvetica Light";
    color: #6837E8;
    font-size: 24px;
    margin-top: 1px;
    margin-left:100px;
    color: #866ceb;
    text-decoration: none;
}

.prices:hover {
    color: #5B37E3;
    text-decoration: none; }


.bg-v {
    background-color: #6633E8;
    width:100%;
    margin-top: 100px;
}

.online {
    font-size: 36px;
    font-family: "Helvetica Light";
    color: white;
    margin-left: 20px;

}

.free {
    font-size: 22px;
    font-family: "Helvetica Light";
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 24px;
}

.form {
    margin-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.53);
}

#contact-slide .form:first-child {
    margin-top: 5px;
}

.input {
    border: none
}

.form-input {
    font-weight: normal;
    border:none;
    color: rgba(255, 255, 255, 0.53);
    width: 100%;
    background: none;
    font-size: 18px;
    height: 30px;
    text-decoration: none;
    font-family: "Helvetica Light";
}
textarea.form-input {
    height: 165px;
}
.form-input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.73);
    color: #6633E8;
}
.form-input[type=submit] {
    padding: 8px 14px 6px 14px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.73);
    color: rgba(255, 255, 255, 0.73);
    line-height: calc(24 / 16);
    cursor: pointer;
    outline: none;
    transition: background 0.175s ease-in, color 0.175s ease-in;
    width: auto;
    height: auto;
}


.form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.73); }

.form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100;}

.form-input{outline:none;}

.form-input {outline:none;}
.form-input:-moz-placeholder { color: rgba(255, 255, 255, 0.53); }
.form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.53); font-weight: 100; }

.sales {
    font-size: 36px;
    font-family: "Helvetica Light";
    line-height: 40px;
    margin-top: 137px;
    margin-left: 15px;
}

#contact-slide-arrow--deleted {
    width: 14px;
    height: 12px;
    background: transparent url(/i/image/up.png) center center no-repeat ;
    padding-bottom: 60px;

    margin-left: 50%;
    margin-top: 70px;
}

.want {
    font-size: 23px;
    font-family: "Helvetica Light";
    margin-top: 140px;
}

.offer { 
    margin-top:55px;   
    font-family: 'Helvetica Light';
    color: #9881eb;
    font-size: 15px;
}
.offer a {
    display: inline-block;
    position: relative;
    color: #9881eb;
}

.offer a:hover::after {
    width: 100%;

}

.offer a::after {
    height: 1px;
    width: 30%;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-in-out;
    background-color: #9881eb;
}

.offer a:hover {
    color: #9882eb;
    text-decoration: none;
}

.footer { list-style-type: none;
          color: BLACK;
          margin-top:70px;
          font-family: 'Helvetica Light';
          line-height: 20px;

}

.cookie {
    font-family: 'Helvetica Light';
    font-size: 12px;
    color:#494949;
    margin-left: 70px;
    margin-top: 56px;
}

.RUS {
    font-size: 16px;
    font-family: 'PTSansNarrow-Bold';
    margin-left: 75px;
}

.image_left {
    width: 50px;
    height: 43px;       
    float: left;
    padding-top: 110px;

}

.v_text_16 {
    font-size: 16px;
    font-family: 'Helvetica Light';
    color: #9881eb;
    margin-left: 60px;
    position: relative;
    padding-top: 40px;
}
.doc {
    width: 43px;
    height: 43px;
    background: transparent url(/i/image/doc.png) center center no-repeat ;
    float: left;
    position: absolute;
}

.us {
    font-family: 'Helvetica Light';
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.stop {
    width: 49px;
    height: 43px;
    background: transparent url(/i/image/stop.png) center center no-repeat ;
    float: left;
    position: absolute;
}

.rectangle {
    max-width: 330px;
    margin-top: 31px;
}

.rectangle img {
    max-width: 100%;
    height: auto;
}

#rectangle {
    width: 314px;
    height: 194px;
    background: transparent url(/i/image/vrach.png) center center no-repeat ;
}

.car {
    margin-left: 100px;
}

.pr {
    margin-right: 10000px;
}

.star_big {
    width: 77px;
    height: 67px;
    background: transparent url(/i/image/logo_rusmedzdrav_srednee.png) center center no-repeat ;
    margin: -35px auto 0 auto;
}

.index-text h1 {
    margin-bottom: 30px;
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size: 29px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold
}

.index-text h2 {
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size:29px;
    text-align: center;
    margin-bottom: 44px;

}

.indexe h2 {
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size:29px;
    text-align: center;
    margin-bottom: 44px;
    font-weight: bold;
}

.index-text p {
    font-family: 'Helvetica Light';
    font-size:23px;
    line-height: 34px;
    margin-bottom: 44px;
}

.index-text h3 {
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size:25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.ul_class {
    font-family: 'Helvetica Light';
    font-size:23px;
    margin-bottom: 44px;

}



.f-star {
    width: 47px;
    height: 50px;
    background: transparent url(/i/image/logo_rusmedzdrav_malenkoe.png) center center no-repeat ;
    margin-left: 100px;
    margin-top: 56px;
    float: left;
    position: absolute;
}

.f-rusmed {
    font-size: 16px;
    letter-spacing: 2px !important;
    font-family: 'GothamSSm Medium';
    position: relative;
    margin-left: 150px;
    letter-spacing: 5px;
    margin-top: 68px;
    font-weight: bold;

}

.footer a {
    color: black;
    font-size: 14px;
    font-family: 'Helvetica Light';
   

}

.footer a:hover {
    color: #5B37E3;
    text-decoration: none;
}

.rusmed2 {
    font-size: 31px;
    color:black;
    text-align:center;
    letter-spacing: 10px;
    font-weight: bold;
    font-family: 'PTSansNarrow-Bold';
}


.star_big2 {
    width: 77px;
    height: 67px;
    background: transparent url(/i/image/logo_rusmedzdrav_srednee.png) center center no-repeat ;
    margin: -34px auto 0 auto;
}

.med-book2 {
    font-family: 'Helvetica Light';
    font-size: 51px;
    text-align: center

}

.page-text h1 {
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size: 29px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold
}

.page-text h2 {
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size:29px;
    text-align: center;
    margin-bottom: 44px;

}

.page-text p {

    font-family: 'Helvetica Light';
    font-size:23px;
    line-height: 29px;
    margin-bottom: 44px;
}

.page-text h3 {
    color: #5a35e3;
    font-family: 'Helvetica Light';
    font-size:25px;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 44px;
}

.modalDialog {
    position: fixed;
    font-family: 'Helvetica Light';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;


    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 555px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;


}


.modalDialog  h2 {
    width: 555px;
    position: relative;
    margin-left: -13px;
    font-size: 29px;
    color: #cb3f35;
    background:none;

}

.close2 {
    text-decoration: none;
    color: #cb3f35;
    line-height: 25px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 10px;
    outline: none;
    font-weight: bold;
    background: none;

}

.close2:hover { 
    background: #00d9ff;
    color: #5B37E3;
    text-decoration: none;
    outline: none;

}

.close2:hover {background: none; color: black;}

.modal-input {
    font-weight: normal;
    border: none;
    color:#a2a2a2;
    width: 100%;
    background: #cb3f35;
    font-size: 22px;
    text-decoration: none;
    margin-top: -40px;
    margin-bottom: -40px;


}
.modalDialog input::-webkit-input-placeholder { color: #a2a2a2;
                                                font-size: 16px;


}
.modalDialog input {outline:none;
                    font-size: 16px;
                    padding-left: 5px;
                    height: 40px;

}

.modalDialog .btn  {
    width: 140px;
    background-color: #cb3f35;
    display: block;
    margin: -20px auto 15px auto;
    text-decoration: none;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    outline: none;
}

.modalDialog .btn:hover {
    color: white;
}

.modalDialog .sent {
    color: #a2a2a2;
    text-align: center;
    font-size: 16px;
    line-height: 15px; 
    font-weight: bold;
    margin-top: -10px;
}

.open_modal {
    width: 250px;
    background-color: #cb3f35;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    outline: none;
    cursor: pointer;
}

.open_modal:hover{
    text-decoration: none;
    color: white;
}


#contact-slide {overflow: hidden;
                transition: all ease-in-out .3s;}
.cs-crop {height: 193px;}
.cs-full {}

#contact-slide-arrow.up {transform: rotate(180deg);}
#contact-slide-arrow.down {transform: rotate(0deg);}

.expand:focus {outline: none;}
.expand {
    position: relative;
    background-color: transparent;
    bottom: -40px;
    left: 50%;
    margin-left: 7px;
    border: none;
    cursor: pointer;
    outline: none;
}

.expand svg {
    width: 14px;
    height: 18px;
    fill: rgba(255, 255, 255, 0.73);
}

.sdvig{}
@media only screen and (max-width: 1200px) {

    .list-img {
        margin-left: 10px;
    }

    .med-book {
        font-size: 40px;
        line-height: 40px;
    }

    .online {
        line-height: 36px;
    }

    .cs-crop {
        height: 236px;
    }

    .garant {
        margin-left: 10px;
    }

    .read {
    }

    .low {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 992px) {
    
    .easely { font-size: 38px;
             width: 100%;
             text-align: left;
    }
    
    .bell {
        text-align: left;
        margin-top: 10px;
        
    }
    
    .ooo {
         font-size: 20px;
        text-align: left;
        margin-top: 0x;
     
        
    }
    
    .art-head-h3 {
    
    margin-left: 130px;
    }

    .art-head-h3 h3 {
    margin-top: 40px;
    height: 104px;
    align-items: center;
    display: flex;
    line-height: calc(58 / 50);
    }

    .art-head-h3 h3 span {
   
    font-size: 38px;
    }
    
    .success {
        font-size: 36px;
        margin-left: 80px;
    }

    .online {margin-left: -20px;}
    .free {margin-left: -20px;}
    #contact-slide .form:first-child {margin-top: 30px;}
    .cs-crop {
        height: 230px;
    }

    .slide-box {
        position: relative !important;
        text-align: center;
        left: 0 !important;
        top: 0 !important;
    }

    .triangle {display: none;}

    .under-triangle {
        font-size: 23px; 
        font-family: 'Helvetica Light';
        margin-top: 30px;
    }

    .star2 {
        width: 77px;
        height: 67px;
        background: transparent url(/i/image/star2.png) center center no-repeat ;
        margin-left: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cookie {margin-left: 15px;
             margin-top: 33px;}

    .f-star {
        margin-top: 17px;
        margin-left:20px;
        float: left;
        position: absolute;
    }

    .f-rusmed {
        margin-top: 30px;
        margin-left:70px;
        position: relative;
    }

    .doctor-img {
        margin-left: 100px;
    }

    .list-img {
        margin-left: 100px;
        margin-top: 50px;
    }

    .med-book {
        margin-left: -70px;
        margin-top: 50px !important;
    }

    .prices {
        margin-left: 80px;

    }

    .low {
        margin-left: 110px;
    }
    .garant {
        font-size: 30px;
        margin-left: 100px;
    }

    .read {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 100px;
    }

    .rectangle-down-big {
        font-size: 24px;
    }

    .rectangle-down-small {
        font-size: 18px;
    }


}

@media only screen and (max-width: 768px) {
    .tabl-down{
        display: block;
    }
    
    .tabl {
       display: none;
    }
    
    .med {
    margin-top: 15px;}
    
    .easely { 
        line-height: 44px;
        font-size: 38px;
        width: 350px;
        text-align: left;
    }
    
    .bell {
        text-align: left;
        margin-top: 10px;
        
    }
    
    .ooo {
         font-size: 20px;
        text-align: left;
        margin-top: 0x;
     
        
    }
    
    .bell a::after {
    height: 0px;
    width: 30%;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-in-out;
    background-color: #9882eb;
}

    .med-book {
        font-size: 38px;
    }

    .online {
        font-size: 26px;
        margin-top:20px;
        margin-left: 15px;
        text-align: left;
    }

    .free {
        font-size: 20px;
        margin-bottom: 15px;
        margin-left: 15px;
        text-align: left;
    }

    .form {
        margin-top: 25px;
        margin-left: 15px;
    }

    .sales { font-size: 26px;
             margin-top: 80px;
             margin-bottom: 20px;
             margin-left: 15px;}

    .want {margin-top:20px;
           margin-left:15px;
           margin-bottom: 15px;
           font-size: 20px;
    }

    .us {font-size: 26px;
         margin-left: 15px;}

    .offer {
        margin-top: 15px;
        margin-left: 30px;
        margin-bottom: 50px;
        margin-left: 15px;
    }

    .up {
        margin-top: 35px;

    }




    #contact-slide .form:first-child {margin-top: 30px;}
    .cs-crop {
        height: 350px;
    }

    .success {
        margin-left: 10px;
        font-size: 30px;
        letter-spacing: 0px;
    }

    .prices {
        margin-left: 10px;
        margin-top: 35px;
        font-size: 20px;
    }

    .sales {
        line-height: 30px;
    }

    .star2 {
        width: 77px;
        height: 67px;
        background: transparent url(/i/image/star2.png) center center no-repeat ;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .image_left {

    }

    .rectangle {
        max-width: 100%;  

    }

    .rectangle-down-small{
        max-width: 100%;
        margin-bottom:45px;
        font-size: 18px;
    }

    .rectangle-down-big{
        max-width: 100%;
        font-size: 20px;
    }



    .cookie {margin-left: 15px;
             margin-top: 70px;}

    .f-star {
        margin-top: 17px;
        margin-left: 150px;
        float: left;
        position: absolute;
    }

    .f-rusmed {
        margin-top: 30px;
        margin-left: 200px;
        position: relative; 

    }

    .doctor-img {
        margin-left: 0px;
    }
    
    .art-head-h3 {
    
    margin-left: 110px;
    }

    .art-head-h3 h3 {
    margin-top: 40px;
    height: 104px;
    align-items: center;
    display: flex;
    line-height: calc(58 / 50);
    }

   

    .list-img {
        margin-left: 0px;
        margin-top: 50px;
    }

    .med-book {
        margin-left: -105px;
        margin-top: 50px;
    }



    .garant {
        font-size: 20px;
        margin-left: 0px;
    }

    .read {
        margin-left: 0px;
    }
    
    
    .low {
        margin-left: 0px;
    }

    doctor-img{max-width: 80%;}
}

@media only screen and (max-width: 576px) {
    
    .mobile-covid {}
    
    .med {
        margin-top: 1px;
    }
    
    .success {
        font-size: 24px;
        margin-left: 30px;
        letter-spacing: 0px;
    }

    .prices {
        font-size: 18px;
        margin-left: 30px;
    }

    .med-book {
        margin-top: 50px;
        font-size: 24px;
    }
  
    .list-img {
        margin-left: 0px;
        margin-top: 50px;
        background-size:60px;
        float: none;
        margin: 30px 0 15px 0!important;

    }
    
    .art-head-h3 {
    margin-bottom: 53px;
    margin-top: 15px;
    
    height: 0px;
    margin-left: 0px;
}
 .art-head-h3 h3 {
     margin-top: -15px;
    height: 75px;
    align-items: center;
    display: flex;
    line-height: calc(58 / 50);
    }
    
.art-head-h3 h3 span {
    font-family:  "Helvetica Light";
    font-size: 38px;
}



    .us {
        font-size: 26px;}



    .f-star {
        margin-left: 15px;
    }

    .f-rusmed {
        margin-left: 65px;
    }

    .star2 {
        margin-left: 45%;
    }

    .footer{
        margin-top: 0px;
        padding-left: 20px;
    }

    .footer a{
        font-size: 16px;
        font-family: 'Helvetica Light';
        
    }
    
    .footer li {
        margin-top: 10px;
    }

    .footer-first{
        margin-top: 30px;
    }
}


.space10 {width: 100%; height: 10px;}
.space20 {width: 100%; height: 20px;}
.space50 {width: 100%; height: 50px;}
.space75 {width: 100%; height: 75px;}
.space100 {width: 100%; height: 100px;}
.space150 {width: 100%; height: 150px;}
