@font-face{
font-family: 'PTSansNarrow-Bold';
src: url('../fonts/PTSansNarrow-Bold.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Helvetica Light';
src: url('../fonts/Open_Sans/Helvetica Light Regular.ttf');
font-weight: normal;
font-style: normal;
}


.white-line {
    padding-top: 35px;
}

.blue-line {
    background-color: #5B37E3;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
  
}

.star {
    width: 47px;
    height: 50px;
    background: transparent url(/images/star.jpg) center center no-repeat ;
}

.med { 
    width: 1059px;
    height: 552px;
    background: transparent url(/images/med.jpg) center center no-repeat ;
    margin-top: 35px;
}
.rusmed {
   
    font-size: 16px;
    font-family: 'PTSansNarrow-Bold';
    margin: 0 60px;
    
}

.bell {
    font-family:  "Helvetica Light";
    color: #D6D4D4;
    margin-top: 20px;
   
}

.ooo {
    margin-left: 60%;
}

.bg-F7 {
    background-color: #F7F7F7;
    margin-top: 60px;
    width: 100%
    
}

.book-img {
    width: 523px;
    height: 469px;
    background: transparent url(/images/book.jpg) center center no-repeat ;
    margin-left: 50px;
    margin-top: 190px;
}

.low {
    margin-left: 90px;
    margin-top: 20px;
    font-family:  "Helvetica Light";
    font-size: 14px;
}

.kniga-img {
    margin-top: 190px;
    width: 91px;
    height: 91px;
    background: transparent url(/images/kniga.png) center center no-repeat ;
    margin-left:80px;
    }

.med-book {
    font-family:  "Helvetica Light";
    font-size: 51px;
    margin-left: 90px;
}

@media all and (max-width: 800px) {
    .med-book {
        font-size: 40px;
    }
}

.garant {
    padding-top: 50px;
    margin-bottom: 60px;
    margin-left: 90px;
    font-family:  "Helvetica Light";
    font-size:23px;
    }
    
.read {
    margin-top: 200px;   
    margin-left:90px;
    color: #C3B2F2;
    font-size: 15px;
    }
    
.list-img {
    width: 91px;
    height: 91px;
    background: transparent url(/images/list.png) center center no-repeat ;
    margin-top: 150px;
    margin-left: 90px;
}

.doctor-img {
    width: 543px;
    height: 471px;
    background: transparent url(/images/doctor.jpg) center center no-repeat ;
    margin-top:140px
}

.line {
    float:left
}

.both {
    clear:both
}

.star2 {
     width: 77px;
    height: 67px;
    background: transparent url(/images/star2.png) center center no-repeat ;
    margin-left: 50%;
    margin-top: 150px;
}

.success {
    font-family: "Helvetica Light";
    font-size: 43px;
    color: #6837E8;
    margin-left: 200px
}

.prices {
   font-family: "Helvetica Light";
   color: #6837E8;
   font-size: 24px;
   margin-top: 70px;
   margin-left: 200px
}

.bg-v {
    background-color: #6633E8;
    width:100%;
    margin-top: 100px;
}

.online {
    font-size: 36px;
    font-family: "Helvetica Light";
    color: white;
    margin-left: 95px;
    padding-top:100px;
}

.free {
    font-size: 20px;
    font-family: "Helvetica Light";
    color: white;
    margin-left: 95px;
    margin-top: 43px;
}

.form {
    margin-top: 30px;
   
}

.input {
    border: none
}

.form-1 {
    margin-top: 100px;
}

.form-input {
    border:none;
    color: white;
    width: 100%;
    background: none;
    
}
input::-webkit-input-placeholder { color: white; }
input {outline:none;}

.sales {
    font-size: 36px;
    font-family: "Helvetica Light";
    margin-top: 140px;
    margin-left: 25px;
}

.up {
    width: 14px;
    height: 12px;
    background: transparent url(/images/up.png) center center no-repeat ;
    padding-bottom: 60px;
   
    margin-left: 50%;
    margin-top: 70px;
}

.want {
    font-size: 24px;
    font-family: "Helvetica Light";
    margin-top: 140px;
}

.offer { 
    margin-top:55px;   
   
    color: #C3B2F2;
    font-size: 18px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
до связи
–––––––––––––––––––––––––––––––––––––––––––––––––– */
